@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Montserrat Regular";
    src: url("/fonts/Montserrat-Regular.ttf");
  }
  @font-face {
    font-family: "Montserrat Bold";
    src: url("/fonts/Montserrat-Bold.ttf");
  }
  @font-face {
    font-family: "Montserrat ExtraBold";
    src: url("/fonts/Montserrat-ExtraBold.ttf");
  }
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -webkit-appearance: none;
  background-color: #36b336;
  border: 4px solid #fff;
}

select {
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right;
  -webkit-appearance: none;
  background-position-x: 250px;
}

@keyframes bounceAppear {
  0% {
    transform: translateY(100%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  }
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}
.animate-bounce-appear {
  animation: bounceAppear 1s forwards;
}
